<%- include('./partials/header.ejs') %>
<h1>Report Data!</h1>
<script type="text/javascript">
    function change(type){
        document.getElementById("moning").style.display="none";
        document.getElementById("evening").style.display="none";
        if(type == 1) {
           document.getElementById("moning").style.display=""; } 
        if(type == 2) {
           document.getElementById("evening").style.display=""; }  }
</script>
<% if (user)  { %>
    <p><%= "Logged in as " %><%= user %></p>
    <% } %>
<% if (logs && logs.length > 0) { %>
    <a href="/behavior/summary">Get summary info here!</a>
    <% logs.forEach((log) => { %>
        <p><%= log %></p>
    <% }); %>
    <% } %>
<% if (login && login === 1)  { %>
    <form method="POST" action='/auth/logout'>
        <input type="submit" value="Logout"/>
    </form>
    <% } %>
<div>
    <p>Choose which period you want to report!</p>
    <label><input type="radio" name="time" value="Morning" onclick="change(1)" > Morning</label>
    <label><input type="radio" name="time" value="Evening"  onclick="change(2)" > Evening</label>
</div>
<div id="moning" style="display: none;">
    <form method="POST" action='/behavior/reporting'>
        <label for="date">Date</label>
        <input type="date" name="date" />
        <label for="sleep_duration">Sleep_duration</label>
        <input type="text" name="sleep_duration" />
        <label for="sleep_quality">Sleep_quality</label>
        <input type="text" name="sleep_quality" />
        <label for="generic_mood">Generic_mood</label>
        <input type="text" name="generic_mood" />
        <input type="submit" value="Report!" />
    </form>
</div>
<div id="evening" style="display: none;">
    <form method="POST" action='/behavior/reporting'>
        <label for="date">Date</label>
        <input type="date" name="date" />
        <label for="time_sports">Time_sports</label>
        <input type="text" name="time_sports" />
        <label for="time_study">Time_study</label>
        <input type="text" name="time_study" />
        <label for="eating_quality">Eating_quality</label>
        <input type="text" name="eating_quality" />
        <label for="generic_mood">Generic_mood</label>
        <input type="text" name="generic_mood" />
        <input type="submit" value="Report!" />
    </form>
</div>
<%- include('./partials/footer.ejs') %>