<%- include('./partials/header.ejs') %>
<h1>Summary!</h1>
<% if (user && user.length > 0) { %>
    <p><%= "Logged in as " %><%= user %></p>
    <% } %>
<% if (login && login === 1)  { %>
    <form method="POST" action='/auth/logout'>
        <input type="submit" value="Logout"/>
    </form>
    <% } %>
<div>
    <% info.forEach((record) => { %>
        <li><%= record.date %><%= ":" %><%= record.whether_using_allowance %></li>
    <% }); %>
</div>
<%- include('./partials/footer.ejs') %>